# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ToDoList_MVVM_MAUI.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignorera byggfiler
bin/
obj/

# Ignorera IDE-specifika filer
.vs/
.idea/